### Application Path
# Point to your application code, will be available at `/opt/htdoc`.

APPLICATION=../

### workspace
WORKSPACE_NODE_VERSION=stable

### platform
PLATFORM_API_HOST=api.yipzale.me
PLATFORM_NGINX_LOG_PATH=/Users/leaf/Docker/docker-data/env/platform/nginx/log
PLATFORM_NGINX_SITES_PATH=/Users/leaf/Docker/docker-data/env/platform/nginx/sites
PLATFORM_NGINX_HTTP_PORT=9090
PLATFORM_NGINX_HTTPS_PORT=9091

### web
WEB_NODE_PORT=9080

### mysql
MYSQL_DATABASE=default
MYSQL_USER=leaf
MYSQL_PASSWORD=leaf
MYSQL_PORT=9100
MYSQL_ROOT_PASSWORD=root
MYSQL_TIMEZONE=UTC
MYSQL_DATA_PATH=/Users/leaf/Docker/docker-data/env/mysql/data