############################# Filebeat ######################################
filebeat.prospectors:
  - input_type: log
    document_type: filebeat-docker-logs
    paths:
      - "/var/lib/docker/containers/*/*.log"
    json.keys_under_root: true
    tail_files: true
    registry_file: /var/lib/filebeat/registry
processors:
  - drop_event:
      when:
        not:
          or:
            - equals:
                attrs.service: "platform"
  - drop_fields:
      fields: ["input_type", "offset", "source", "stream", "beat"]

output:

  ### Logstash as output
  logstash:
    hosts: ["logstash:5044"]

  ### Console output
  console:
    pretty: true


############################# Shipper #########################################

shipper:
  # The name of the shipper that publishes the network data. It can be used to group
  # all the transactions sent by a single shipper in the web interface.
  # If this options is not defined, the hostname is used.
  name: filebeat-docker